* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 4px 4px 6px rgb(11, 11, 11);
    margin-bottom: 1em;
}

.red-span {
    color: rgb(248, 53, 53);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f1f0f0;
    height: 100vh;
}

.container {
    padding: 2em;
    max-width: 1200px;
    margin-inline: auto;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar>.logo {
    text-transform: lowercase;
    font-size: 1.5rem;
}

.nav-bar>strong>a {
    all: unset;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10em 0 2.5em;
}

.hero-section>.time {
    width: 30%;
}

header h1 {
    font-size: 5rem;
    color: rgb(226, 226, 226);
    width: 60%;
}

.goals {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 0.3em;
    padding: 2em;
    color: #f1f0f0;
    font-weight: 600;
    font-size: 1.3rem;
    flex: 1 1 calc(33.333% - 40px);
}

.card>span {
    background-color: rgb(248, 53, 53);
    display: block;
    width: 90px;
    height: 5px;
    margin-bottom: 1em;
}


.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3em;

}

.personal-info>.slack-profile-picture {
    width: 350px;
    margin-bottom: 1em;
}

.personal-info>.slack-profile-picture>img {
    width: 100%;
    border-radius: 0.3em;
}

.personal-info p {
    margin: 10px 0;
}

footer {
    background-color: #101010;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links a {
    display: block;
    color: #00bcd4;
    text-decoration: none;
    padding: 10px 0;
}

.links a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */

/* Tablets and larger devices */
@media (max-width: 1200px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20vh 0;
    }

    .hero-section>.time {
        width: 100%;
    }

    header h1 {
        font-size: 4rem;
        width: 100%;
        margin-bottom: 3rem;
    }
}

/* Large smartphones and tablets */
@media (max-width: 768px) {
    .nav-bar {
        font-size: 0.88rem;
    }

    .nav-bar > .logo{
        font-size: 1.2rem;
    }

    .hero-section {
        margin: 20vh 0;
    }

    header h1 {
        font-size: 4rem;
        margin-bottom: 1em;
    }

    .card {
        flex: 1 1 80%;
    }

    .card>span {
        width: 70px;
        height: 3px;
    }

    .personal-info>.slack-profile-picture {
        width: 250px;
    }
}

/* Small smartphones and smaller devices */
@media (max-width: 480px) {
    h2 {
        font-size: 1.4rem;
    }
    .container {
        padding: 2em;
    }

    .nav-bar {
        font-size: 0.8rem;
    }

    .nav-bar > .logo{
        font-size: 1rem;
    }

    .hero-section {
        margin: 22vh 0;
    }

    header h1 {
        font-size: 2.25rem;
    }

    .time > p{
        font-size: 0.88rem;
    }
    .card {
        padding: 1em;
        font-size: 1rem;
    }

    .card>span {
        width: 60px;
        height: 2px;
    }

    .personal-info>.slack-profile-picture {
        width: 200px;
    }

    .links {
        font-size: 0.88rem;
        flex-direction: column;
        text-align: center;
    }
}