* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url('./bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f1f0f0;
    height: 100vh;
    padding: 3em;
}

.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7em;
}

.nav-bar > .logo{
    text-transform: lowercase;
    font-size: 1.5rem;
}

.nav-bar > .logo > span{
    color: rgb(248, 53, 53);
}

.nav-bar > strong > a{
    all: unset;
    cursor: pointer;
}

.hero-section{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 5em 0;
}

.hero-section > .time{
    width: 25%;
}

header h1 {
    font-size: 5rem;
    color: rgb(226, 226, 226);
    width: 60%;
}

.goals{
    display: flex;
    gap: 2em;
    margin: 5em 0;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(109, 25, 1);
    border-radius: 0.3em;
    padding: 2em;
    color: #f1f0f0;
    font-weight: 600;
    font-size: 1.3rem;
    flex: 1 1 calc(33.333% - 40px);
}

/* 
section {
    margin-top: 20px;
}

.goals ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.personal-info p,
.links a {
    margin: 10px 0;
}

.links a {
    display: block;
    color: #00bcd4;
    text-decoration: none;
    padding: 10px 0;
}

.links a:hover {
    text-decoration: underline;
}

#slackProfilePicture {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        box-sizing: border-box;
    }
} */
